@use "../../../node_modules/sass-pire/src/sass-pire.scss" as *;

.faq__accordion {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: px-to-rem(22);

    .faq-item {
        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: px-to-rem(16);
            cursor: pointer;

            &:focus {
                background-color: none;
            }
        }

        &__bottom {
            padding-top: px-to-rem(10);

            .desc {
                color: var(--fem-grayish-purple-clr);
                font-size: var(--accordion-item-desc-fs);
            }
        }

        &__question {
            font-size: var(--accordion-item-title-fs);
            font-weight: bold;
            user-select: none;
        }
    }
}
