@use "../../../node_modules/sass-pire/src/sass-pire.scss" as *;

.main {
    min-height: 100dvh;
    position: relative;
    overflow-x: hidden;
}

.faq {
    max-width: px-to-rem(600);
    margin: auto;
    margin-top: px-to-rem(-125);
    padding: px-to-rem(35);
    border-radius: px-to-rem(10);
    position: relative;
    z-index: 8;
    background-color: var(--fem-white-clr, #ffffff);

    &__title {
        margin-bottom: px-to-rem(16);
        display: flex;
        align-items: center;
        gap: px-to-rem(16);

        svg {
            animation: rotate 10s ease-in-out infinite both;
        }

        &__word {
            color: var(--fem-dark-purple-clr, #000000);
            font-size: var(--accordion-main-title-fs);
            font-weight: 700;
        }
    }
}

.bg-image {
    position: relative;

    .desktop {
        display: none;
    }

    @media only screen and (width >=376px) {
        .desktop {
            min-height: px-to-rem(320);
            display: block;

            svg {
                width: 100%;
                height: auto;
                font-style: italic;
                background-repeat: no-repeat;
                background-size: cover;
                shape-margin: 1rem;
            }
        }
    }

    .mobile {
        display: none;
    }

    @media only screen and (width <=375px) {
        .mobile {
            display: block;
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}